<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si le fichier ou le dossier existe, laissez Apache le gérer
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Sinon, redirigez toutes les requêtes vers index.html
  RewriteRule ^ index.html [L]
</IfModule>
